{{template "base" .}}

{{define "title"}}Create a New Task{{end}}

{{define "main"}}
<form action='/task/stop' method='POST'>
    {{range .Tasks}}
    <div>
        <label>Task:</label>
        <input type='text' name='task' value="{{.Name}}" readonly>
    </div>
    <div>
        <label>Start Time:</label>
        <input type='text' name='starttime' value="{{.StartTime}}" disabled>
    </div>
    {{end}}
    <div>
        <label>Elapsed Time:</label>
        <input type='text' name='elapsed' disabled>
    </div>
    <div>
        <input type='submit' value='Stop task'>
    </div>
</form>
{{end}}